<div class="ui-dialog" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-rerunDialog"
  style="display: block; z-index: 1004; outline: 0px; height: auto; width: 400px;  position: inherit !important;"
  id="dialog-ident-rerunDialog">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title"
      id="ui-dialog-title-rerunDialog">
      Select Tests </span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span
        class="ui-icon ui-icon-closethick">close</span></a></div>
  <div class="dialog ui-dialog-content ui-widget-content" id="rerunDialog"
    style="width: auto; display: block; min-height: 0px; height: auto;">
    <div class="dialog-title">
      Select Tests </div>

    <form id="rerunForm">
      <div class="dialog-body">
        <p class="top">Include tests of the following previous status:</p>
        <div class="message message-error hidden validationError" id="rerunErrors"></div>
        <div class="checkbox-list" style="height: 200px" id="rerunStatuses_control">
          <div class="checkbox-list-inner">
            <div class="checkbox-list-toolbar toolbar toolbar-compact">
              <div class="toolbar-inner text-secondary">
                Select <a class="link" href="javascript:void(0)"
                  onclick="this.blur(); App.Controls.Checkboxes.checkAll('rerunStatuses'); return false;">All</a>
                | <a class="link" href="javascript:void(0)"
                  onclick="this.blur(); App.Controls.Checkboxes.checkNone('rerunStatuses'); return false;">None</a>
              </div>
            </div>
            <div class="checkbox checkbox-list-item" id="rerunStatuses_checkbox-1">
              <label>
                <span class="checkbox-name text-ppp">Passed</span>
                <input name="rerunStatuses[]" id="rerunStatuses-1" type="checkbox" value="1" checked="checked"
                  class="checkbox-list-input">
              </label>
            </div>
            <div class="checkbox checkbox-list-item" id="rerunStatuses_checkbox-2">
              <label>
                <span class="checkbox-name text-ppp">Blocked</span>
                <input name="rerunStatuses[]" id="rerunStatuses-2" type="checkbox" value="2" checked="checked"
                  class="checkbox-list-input">
              </label>
            </div>
            <div class="checkbox checkbox-list-item" id="rerunStatuses_checkbox-3">
              <label>
                <span class="checkbox-name text-ppp">Untested</span>
                <input name="rerunStatuses[]" id="rerunStatuses-3" type="checkbox" value="3" checked="checked"
                  class="checkbox-list-input">
              </label>
            </div>
            <div class="checkbox checkbox-list-item" id="rerunStatuses_checkbox-4">
              <label>
                <span class="checkbox-name text-ppp">Retest</span>
                <input name="rerunStatuses[]" id="rerunStatuses-4" type="checkbox" value="4" checked="checked"
                  class="checkbox-list-input">
              </label>
            </div>
            <div class="checkbox checkbox-list-item" id="rerunStatuses_checkbox-5">
              <label>
                <span class="checkbox-name text-ppp">Failed</span>
                <input name="rerunStatuses[]" id="rerunStatuses-5" type="checkbox" value="5" checked="checked"
                  class="checkbox-list-input">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="checkbox checkbox-list-item" id="fetch_assignedto_check">
          <label>
            <span class="checkbox-name text-ppp">Copy Assigned To</span>
            <input name="fetch_assignedto" id="fetch_assignedto" type="checkbox" value="1" class="checkbox-list-input">
          </label>
        </div> -->
      </div>
      <div>
        <div class="button-group dialog-buttons-highlighted">
          <button class="button button-left button-positive button-ok dialog-action-default" type="submit">
            OK </button>
          <a class="button button-left button-negative button-cancel dialog-action-close">
            Cancel </a>
        </div>
      </div>
    </form>
  </div>
</div>
