.entity-report {
  background: black;
  background: -webkit-linear-gradient(right,black,#757575);
  background: -moz-linear-gradient(right,black,#757575);
  background: linear-gradient(to left,black,#757575);
}
