.entity-report {
  background: black;
  background: -webkit-linear-gradient(right,black,#757575);
  background: -moz-linear-gradient(right,black,#757575);
  background: linear-gradient(to left,black,#757575);
}

.entity-test-case {
  background: #2F80ED;
  background: -webkit-linear-gradient(right,#2F80ED,#56CCF2);
  background: -moz-linear-gradient(right,#2F80ED,#56CCF2);
  background: linear-gradient(to left,#2F80ED,#56CCF2);
}
