<div *ngIf="map.size; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <h1>
    Activity
  </h1>
  <div id="history">
    <div *ngFor="let entry of map | keyvalue">
      <h3 style="margin-top: 1.5em">
        <span class="title">{{entry.key}}</span>
      </h3>
      <table class="grid">
        <colgroup>
          <col class="box">
          <col>
          <col class="comment-compact" style="width: 200px;">
        </colgroup>
        <tbody>
          <tr *ngFor="let activity of entry.value">
            <td class="box">
              <span class="status {{activity.className}}">{{activity.type}}</span>
            </td>
            <td>
              <a [routerLink]="[activity.url]">{{activity.name}}</a>
            </td>
            <td class="right">
              <span class="text-soft">{{activity.action}} {{activity.userName}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div id="activities">
    <p id="noActivities">No activity yet.</p>
  </div>
</ng-template>
