<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/auth-modern-combined.css"
  media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/font.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/drilldown.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/brand/style.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/brand/brand-modern.css"
  media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/assembla.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/banner-enterprise-modern.css"
  media="all" />
<link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.6.3001/css/autocomplete.css" media="all" />

<div id="form" class="loginpage-form" style="margin: auto; padding-left: 0;">
  <div class="logo loginpage-logo">
    <a routerLink="/" target="_blank" class="logo-loginpage"
      style="background: url('assets/logo.png') center center no-repeat"></a>
  </div>
  <div id="form-inner">
    <h1 class="loginpage-installationname">Test Management</h1>
    <div id="content">
      <h1 class="loginpage-login-text">Log into Your Account</h1>
      <br />

      <form
        action="index.php?/auth/login/L21pbGVzdG9uZXMvb3ZlcnZpZXcvMS1iNTk1YmU1YmQxMTdjNjQ3ZmFmMDRiN2JkYTI1NDcyZjNkMmY0NTdjZWM1MWQ0MzlhZTdmY2NmM2JhNWRhZmMz"
        method="post">


        <div style="min-height:24px;"></div>

        <div class="form-group" style='padding-bottom:10px'>
          <div class='login-inputx'>
            <input [(ngModel)]="user.email" id='name' class="login-input " type='text' name="name" id="name">

            <label for='name' class="login-label">Email</label>
          </div>
        </div>


        <div class="form-group" style='padding-bottom:10px; margin-top: -9px;'>
          <div class=' login-inputx'>
            <input [(ngModel)]="user.password" id='password' class="login-input " type='password' name="password"
              id="password" autocomplete=off>
            <label for='password' class="login-label">Password</label>
          </div>
        </div>
        <div class='display-flex' style=" margin-bottom:40px;">
          <div style="float:left;">
          </div>
        </div>

        <button id='button_primary' (click)="submit()"
          class="loginpage-button-sso-disable loginpage-button-sso-disable-hover  loginpage-button-sso-disable-active">
          <span class="single-sign-on"> Log In</span>
        </button>

        <div style="display: flex; justify-content: center;">
          <span>Don't have an account ? <a [routerLink]="'/signup'">Sign Up</a></span>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://static.testrail.io/7.5.6.3001/js/extensions-combined.js"></script>
<script type="text/javascript" src="https://static.testrail.io/7.5.6.3001/js/application-combined.js"></script>

<script type="text/javascript" id="js-js-indicator"
  src="https://static.testrail.io/7.5.6.3001/js/indicator.js"></script>
<script type="text/javascript" id="js-js-autocomplete"
  src="https://static.testrail.io/7.5.6.3001/js/autocomplete.js"></script>
