<app-menu-project [projectId]="projectId"></app-menu-project>

<div id="separator"></div>
<div id="body-container" class="">
  <div id="body" class="table" style="display: table;">
    <div id="content" class="column content overflow-content">

      <div id="content-header" class="content-header content-header-default">
        <div class="content-header-inner">
          <div class="content-header-title page_title">
            Test Runs &amp; Results </div>
        </div>
      </div>
      <div id="content-inner" class="content-inner goals-clear">
        <div *ngIf="!incompleteTestRuns.length && !completedTestRuns.length; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="empty empty-with-explanation">
            <div class="empty-explanation">
              <div class="empty-explanation-title">What's a test run?</div>
              <div class="empty-explanation-body">Once you have started adding test cases, you can
                start a test run to execute your tests and track results.</div>
            </div>
            <div class="empty-content empty-info">
              <div class="empty-title">
                This project doesn't have any test runs, yet. </div>
              <div class="empty-body">
                <p>No test runs have been defined for this project, yet. Use the following
                  button to add your first test run.</p>
                <div class="button-group">
                  <a class="button button-left button-add" [routerLink]="['/test-runs-add', projectId]">
                    Add Test Run </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <ng-template [ngIf]="incompleteTestRuns.length">
            <h1 class="top width-4">
              Open </h1>
            <div id="open">
              <div id="active">
                <div class="table" style="margin-top: 1.2em;">
                  <div *ngFor="let testRun of incompleteTestRuns" id="run-24" class="row flex-runs-row">
                    <div
                      class="column summary-column summary-column-icon flex-runs-1 icon-run-64 summary-column-first summary-column-last">
                    </div>
                    <div class="column summary-column flex-runs-2 summary-column-first summary-column-last">
                      <div class="summary-title text-ppp">
                        <a [routerLink]="['/test-runs', projectId, 'detail', testRun.runId]">{{testRun.runName}}</a>
                      </div>
                      <div class="summary-links text-secondary">
                        By {{testRun.fullname}} on {{testRun.createdOn}} | <a class="link"
                          href="index.php?/runs/edit/24">Edit</a>
                      </div>
                      <div class="summary-description">
                        {{testRun.passedCount}} Passed, {{testRun.blockedCount}} Blocked, {{testRun.untestedCount}}
                        Untested, {{testRun.retestCount}} Retest and {{testRun.failedCount}} Failed. </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template [ngIf]="completedTestRuns.length">
            <h1 style="margin-top: 2em" class="width-6">
              Completed </h1>
            <div id="completed">
              <div id="run-600807682">
                <h3>
                  <span class="title">Friday, November 18, 2022</span>
                </h3>
                <table class="run-grid grid">
                  <colgroup>
                    <col>
                    <col class="percent">
                  </colgroup>
                  <tbody>
                    <tr class="odd hoverSensitive" id="run-22">
                      <td>
                        <a href="index.php?/runs/view/22">Test Run 11/18/2022</a>
                      </td>
                      <td class="sub right">
                        0%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-16">
                      <td>
                        <a href="index.php?/runs/view/16">Release 1.1: Run 1 (smoke test)</a>
                      </td>
                      <td class="sub right">
                        30%
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="run-874776202">
                <h3>
                  <span class="title">Thursday, November 17, 2022</span>
                </h3>
                <table class="run-grid grid">
                  <colgroup>
                    <col>
                    <col class="percent">
                  </colgroup>
                  <tbody>
                    <tr class="odd hoverSensitive" id="run-9">
                      <td>
                        <a href="index.php?/runs/view/9">Release 1.0: Run 1 (smoke test)</a>
                      </td>
                      <td class="sub right">
                        52%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-6">
                      <td>
                        <a href="index.php?/runs/view/6">Beta 1.0: Run 1 (alpha fixes)</a>
                      </td>
                      <td class="sub right">
                        29%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-5">
                      <td>
                        <a href="index.php?/runs/view/5">Beta 1.0: Run 2 (feature freeze)</a>
                      </td>
                      <td class="sub right">
                        28%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-4">
                      <td>
                        <a href="index.php?/runs/view/4">Beta 1.0: Run 3 (final run)</a>
                      </td>
                      <td class="sub right">
                        61%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-3">
                      <td>
                        <a href="index.php?/runs/view/3">Alpha 1.0: Run 1 (smoke test)</a>
                      </td>
                      <td class="sub right">
                        46%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-2">
                      <td>
                        <a href="index.php?/runs/view/2">Alpha 1.0: Run 2</a>
                      </td>
                      <td class="sub right">
                        59%
                      </td>
                    </tr>
                    <tr class="odd hoverSensitive" id="run-1">
                      <td>
                        <a href="index.php?/runs/view/1">Alpha 1.0: Run 3 (final run)</a>
                      </td>
                      <td class="sub right">
                        58%
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div id="qpane-splitter" class="column splitter qpane-splitter" style="display: none">
    </div>
    <div id="qpane" class="column qpane" style="width: 600px; display: none">
      <div id="qpane-empty" class="qpane-empty hidden">
        <div class="qpane-empty-header">
          No test case selected. </div>
        <div class="qpane-empty-body">
          You can select a different group or change the filters. </div>
      </div>
      <div id="qpane-inner">
        <div id="qpaneSticky">
          <div id="qpane-content">
          </div>
        </div>
      </div>
    </div>
    <div id="sidebar-splitter" class="column splitter sidebar-splitter">
    </div>
    <div id="sidebar" class="column sidebar" style="width: 250px">
      <div class="dialog bulk-delete-dialog" id="bulkDeleteDialog">
        <div class="dialog-title">Confirmation</div>
        <div class="dialog-body">
          <p class="top bottom dialog-message"><strong>Really delete these test runs?</strong>
            This also deletes all tests &amp; <br> results in these runs and cannot be undone.
          </p>
          <p class="dialog-extra text-delete"></p>
          <div class="message message-delete bottom delete-confirm-container confirm-container">
            <div class="checkbox">
              <label>
                <span class="dialog-confirm"><span style="color:red">Yes, I want to
                    <strong>irrevocably delete at least tests <br>and the related test
                      results &amp; comments.</strong></span></span>
                <span class="dialog-confirm-busy"></span>
                <input id="confirm-check" type="checkbox" value="1" name="deleteCheckbox">
              </label>
            </div>
          </div>
        </div>
        <div class="button-group dialog-buttons-highlighted">
          <a
            class="button button-black button-black-disabled button-left button-positive button-disabled dialog-action-default">
            Delete </a>
          <a
            class="button button-left button-delete button-disabled button-hidden button-no-margin-right dialog-action-secondary">
          </a>
          <a class="button button-cancel button-left button-negative dialog-action-close">
            Cancel </a>
        </div>
      </div>


      <div class="sidebar-inner">
        <a id="navigation-runs-add" class="sidebar-button bottom" [routerLink]="['/test-runs-add', projectId]">
          <span>Add Test Run</span>
        </a>
        <a id="navigation-plans-add" class="sidebar-button">
          <span>Add Test Plan</span>
        </a>

        <p *ngIf="!completedTestRuns.length && !incompleteTestRuns.length; else elseCountBlock" class="top">
          There are no test runs.
        </p>
        <ng-template #elseCountBlock>
          <p class="top"><strong class="text-softer">{{incompleteTestRuns.length}}</strong> open and <strong
              class="text-softer">{{completedTestRuns.length}}</strong>
            completed
            test runs in this project.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
