<div *ngIf="isActive('ADD_USER')" style="display: flex; height: 100%;">
  <app-new-menu [selectedMenu]="'users-roles'"></app-new-menu>
  <div>
    <section>
      <app-header></app-header>
      <div>
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/app-modern-combined.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/font.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/drilldown.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/brand/style.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/brand/brand-modern.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/assembla.css"
          media="all" />
        <link type="text/css" rel="stylesheet"
          href="https://static.testrail.io/7.5.4.2008/css/banner-enterprise-modern.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/autocomplete.css"
          media="all" />


        <div class="table" style="height: 100%;">
          <div id="content" class="column content overflow-content">
            <div id="content-header" class="content-header content-header-default">
              <div class="content-header-inner">
                <div class="content-header-result"></div>
                <div class="content-header-title page_title">
                  Add User </div>
              </div>
            </div>
            <script type="text/javascript">
              $("#sites").prop("selectedIndex", 0);
            </script>
            <div id="content-inner" class="content-inner goals-clear">


              <form action="index.php?/admin/users/add" id="form" method="post"><input type="hidden" name="_token"
                  value="uHSABemLRpgzKlfkCYev">

                <div class="tabs ">
                  <div class="tab-header">
                    <a class="current tab1">User</a>
                  </div>
                  <div class="tab-body tab-frame">
                    <div class="tab tab1 dirty-trackable">
                      <div class="form-group">
                        <label for="name">Full Name <span class="form-required">*</span></label>
                        <input [(ngModel)]="user.fullname" class="form-control " type="text" name="name" id="name"
                          maxlength="250">
                        <div class="form-description">Ex: <em>John Doe</em> or <em>Jane Doe</em>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email">Email Address <span class="form-required">*</span></label>
                        <input [(ngModel)]="user.email" class="form-control" autocomplete="off" type="text" name="email"
                          id="email" maxlength="250">
                      </div>
                      <div class="form-group">
                        <label for="password">Password <span class="form-required">*</span>
                        </label>
                        <input [(ngModel)]="user.password" class="form-control " type="password"
                          autocomplete="new-password" name="password" id="password" maxlength="250">
                        <div class="form-description">Please confirm this password
                          in the next field.</div>
                      </div>
                      <div class="form-group">
                        <label for="confirm">Confirm Password <span class="form-required">*</span>
                        </label>
                        <input [(ngModel)]="confirmPassword" class="form-control fo" type="password" autocomplete="off"
                          name="confirm" id="confirm" maxlength="250">
                      </div>
                      <div class="form-separator">
                      </div>
                      <div class="form-group">
                        <label for="role_id">Role <span class="form-required">*</span></label>
                        <select [(ngModel)]="user.roleId" class="form-control form-control-small form-select "
                          name="role_id" id="role_id">
                          <option *ngFor="let role of roles" value="{{role.roleId}}">
                            {{role.roleName}}
                          </option>
                        </select>
                        <div class="form-description">Specifies the global role and hence
                          permissions of the user.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-group form-buttons">
                  <button class="button button-left button-positive button-ok" type="button" id="accept"
                    (click)="submit()"
                    [disabled]="!user.email!.trim() || !user.fullname!.trim() || !user.password!.trim() || !user.roleId || (user.password != confirmPassword)">
                    Add User </button>
                  <a (click)="backClicked()" class="button button-left button-negative button-cancel">
                    Cancel </a>
                </div>
              </form>
            </div>
          </div>
          <div id="sidebar-splitter" class="column splitter sidebar-splitter">
          </div>
          <div id="sidebar" class="column sidebar" style="width: 250px">
            <app-sidebar></app-sidebar>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
